{% extends 'app/home.html' %}
{% load static %}
{% block main_header %}{% endblock main_header %}
{% block main_content %}
<body class="background-image" style="background-image: url('{% static 'app/images/backgroundcaulong.png' %}'); background-size: cover; background-position: center;">
    <div class="container-login">
        <h1>ĐĂNG NHẬP</h1>
        <p>Điền vào mẫu dưới đây để đăng nhập</p>
        
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-control">
                {{ form.phone }}
                {% if form.phone.errors %}
                <span class="error-message">{{ form.phone.errors|join:", " }}</span>
                {% endif %}
            </div>
            <div class="form-control">
                {{ form.password }}
                {% if form.password.errors %}
                <span class="error-message">{{ form.password.errors|join:", " }}</span>
                {% endif %}
            </div>
            <input type="submit" value="ĐĂNG NHẬP" />
            <div class="signup_link">
                Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký ngay</a>
            </div>
            <div class="forgot-password-link">
                <a href="{% url 'forgot_password' %}">Quên mật khẩu?</a>
            </div>
        </form>
    </div>
</body>
{% endblock main_content %}
{% block footer %}{% endblock footer %}