/* HEADER */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color:#078872;
  border-radius: 8px;
  border-top: black;
}

/* HEADER CENTER */
.header-center {
  display: flex;
  width: 100%;
  padding: 0 80px;
}

/* Nút Đặt Sân */
.button-group {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 20px;
}

.booking-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.booking-button:hover {
  background-color: #0000CC;
}

/* Bảng Lịch Đặt Sân */
.layout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.calendar-container {
  background-color: #777777;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.calendar-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

/* LEGEND */
.legend {
  display: flex;
  margin-top: 20px;
  padding-left: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 20px;
}

.color-box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.color-box.empty {
  background-color: #fff;
}

.color-box.booked {
  background-color: #d32f2f;
}

.color-box.selected {
  background-color: #ffa000;
}

/* TABLE */
.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #004d40;
  color: #fff;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
}

.booking-table th,
.booking-table td {
  border: 1px solid #00796b;
  padding: 12px 8px;
  text-align: center;
  min-width: 100px;
}

.booking-table th {
  background-color: #004d40;
  color: #b2dfdb;
  position: sticky;
  top: 0;
}

.fixed-column {
  position: sticky;
  left: 0;
  background-color: #004d40;
  width: 120px;
  z-index: 999;
}

.slot {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.slot.empty {
  background-color: #fff;
}

.slot.booked {
  background-color: #d32f2f !important;
  cursor: not-allowed;
}

.slot.selected {
  background-color: #ffa000 !important;
}

.slot.passed {
  background-color: #808080 !important;
  cursor: not-allowed;
}

/* FOOTER */
.court-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00897B;
  padding: 20px;
  color: white;
  flex-grow: 1;
  height: 100px;
}

.selection-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.total-time,
.total-price-bookedprice {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px #dee2e6;
}

.next-button {
  padding: 15px 40px;
  background: #2A97D4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s;
  width: 110%;
  text-align: center;
}

.next-button:hover {
  opacity: 0.9;
  background-color: #61a2c7;
}

@media (max-width: 768px) {
  .court-footer {
    padding: 10px;
  }

  .selection-info {
    margin-bottom: 10px;
  }

  .next-button {
    padding: 10px 20px;
    font-size: 18px;
  }
}