{% extends 'app/base.html' %}
{% load static %}
{% block banner_slider %}

{% endblock banner_slider %}
{% block main_content %}
<div class="container">  
  <div class="image-section">  
      <img src="{%static 'app/images/sancaulong.png'%}">  
  </div>  
  <div class="text-section">  
      <h1>GIỚI THIỆU VỀ</h1>  
      <h2>WAYS STATION BADMINTON</h2>  
      <p>Bạn đang tìm kiếm một địa điểm chất lượng để thỏa mãn đam mê cầu lông của mình? Hãy đến với Ways Station Badminton, nơi bạn sẽ được trải nghiệm những trận cầu đỉnh cao cùng cơ sở vật chất hiện đại và dịch vụ chuyên nghiệp.</p>  
      <h3>Sân cầu lông đẳng cấp:</h3>  
      <ul>  
          <li>Ways Station Badminton sở hữu hệ thống sân cầu lông đạt chuẩn quốc tế, với mặt sân được làm bằng gỗ giáng hương cao cấp, đảm bảo độ nảy và độ bám tốt nhất cho mọi cú đánh.</li>  
          <li>Hệ thống đèn chiếu sáng hiện đại, không gây chói mắt, giúp bạn dễ dàng di chuyển và phán đoán đường cầu.</li>  
          <li>Diện tích sân rộng rãi, thoáng mát, tạo cảm giác thoải mái khi chơi và giúp bạn bung tỏa hết kỹ năng của mình.</li>  
      </ul>  
      <p>Ways Station Badminton không chỉ là nơi bạn thi đấu, rèn luyện sức khỏe mà còn là nơi giao lưu, kết bạn và chia sẻ đam mê với những người cùng sở thích. Tại đây, bạn sẽ được tham gia vào các giải đấu, giao lưu với các hoạt động thể thao thú vị khác, giúp bạn gắn kết và xây dựng cộng đồng những người yêu cầu lông.</p>  
      <p>Hãy đến với Ways Station Badminton và đắm chìm trong thế giới cầu lông đầy sôi động và hứng khởi!</p>  
  </div>  
</div>  

<div class="container">  
  <div class="image-container">  
      <img src="{%static 'app/images/anh.png'%}" alt="Player playing tennis">  
  </div>  
  <div class="info-container">  
      <div class="open-hours">  
          <h2>OPEN HOURS</h2>  
          <p>Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas!</p>  
          <ul>  
              <li>Mon-Fri: 9 AM – 6 PM</li>  
              <li>Saturday: 9 AM – 4 PM</li>  
              <li>Sunday: Closed</li>  
          </ul>  
      </div>  
      <div class="cta-container">  
          <h2>START NOW!</h2>  
          <p>Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>  
          <a href="yard.html" class="cta-button">ĐẶT SÂN NGAY!!!</a>  
      </div>  
  </div>  
</div>  

<div class="container">  
  <div class="text-section">  
      <h1>Danh sách hơn 4 địa chỉ chi nhánh Cầu lông</h1>  
      <a class="button" href="#">Xem ngay</a>  
  </div>  
  <div class="image-section">  
      <img src="{%static 'app/images/anhcuahangcaulong.png'%}"  alt="Ways Station">  
  </div>  
</div>  
{% endblock main_content %}